<section class="slide scenic fade slideshow">
    <div class="content"></div>

    <div class="background shown" style="background-image: url(assets/img/img-1.jpg)"></div>
    <div class="background" style="background-image: url(assets/img/img-2.jpg)"></div>
    <div class="background" style="background-image: url(assets/img/img-3.jpg)"></div>
    <div class="background" style="background-image: url(assets/img/img-4.jpg)"></div>
    <div class="background" style="background-image: url(assets/img/img-5.jpg)"></div>
</section>